/*
Theme Name: Ali Fida
Theme URI: http://alifida.com
Author: Ali Fida Custom Theme
Author URI: http://alifida.com
Description: 
Version: 1.1
License: 
License URI: license.txt

*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body{
    text-align: justify;
}
#ul_container{
    float: left;
    height: inherit;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 865px;

}

.scroll_right{
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    position: absolute;
    top: 260px;
    width: 25px;
    background-image: url("../image/content_nav_right.png");
    right: -50px;
}
.scroll_right:hover{
    background-position: 0 -50px;
}
.scroll_left{
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    position: absolute;
    top: 260px;
    width: 25px;
    background-image: url("../image/content_nav_left.png");
    left: -50px;
}
.scroll_left:hover{
    background-position: 0 -50px;
}
.header_menu{
    background: -moz-linear-gradient(center top , #2E2E2E 0%, #252525 100%) repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    border-top: 1px solid #3C3C3C;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    color: #9F9F9F;
    font-family: Arial;
    font-size: 13px;
    list-style: none outside none;
    margin:  0 0 20px -10px;
    padding: 0 0 0 10px;
    width: 100%;

}


.header_menu:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.menu_item{


    border-radius: 5px 5px 5px 5px;
    color: #9F9F9F;
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 13px;
    list-style: none outside none;
    margin: 5px;
    padding: 5px 10px;
}

.menu_item:hover{
    background-color: #1E1D1D;

}

.bright_star{
    background-image: url("../image/skill_icon.png");
    background-position: 0 -16px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin-left: 3px;
    opacity: 1;
    width: 16px;
}
.fade_star{
    background-image: url("../image/skill_icon.png");
    background-position: 0 0px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin-left: 3px;
    opacity: 0.5;
    width: 16px;
}