
<div class="layout-50 overflow-fix clear-fix blue">

	<h3>About</h3>

	<div class="layout-50-left">

		<p class="top-0">

			I am Ali Fida, a Web developer with an excellent expertise in
			Java(Spring, Hibernate, JSF, Struts), PHP(Cakephp, WordPress),
			Javascript(JQuery, Dojo), MySQL, PostgreSQL, SQL Server.
			<br/><br/>
			I have been developing Web applications since 2008 years, serving hundreds of
			clients all over the world. My primary job is developing small and
			large applications in Java, PHP and MySQL. I have more than 12 years
			experience working with reputed companies and freelancing globally. I
			am a life-long learner and am always developing and learning the
			latest applications and expertise. 
			<br/><br/>
			I will never compromise the	quality of the work. Among my clients, I am known for delivering the
			highest-quality work. <br />
			<br />



		</p>

		<ul class="no-list social-list">
			<li class="social-list-twitter"><span>Google Plus</span> <a
				href="http://plus.google.com/+silverlean">http://facebook.com/</a></li>
			<li class="social-list-facebook"><span>Facebook</span> <a
				href="http://facebook.com/anna.brown">http://facebook.com/silverleanofficial</a>
			</li>
		</ul>

	</div>

	<div class="layout-50-right">

		<div id="sliderBox">

			<div id="slider">

				<img src="image/_sample/ali_img1.jpg" alt="" /> <img
					src="image/_sample/ali_img2.jpg" alt="" /> <img
					src="image/_sample/ali_img3.jpg" alt="" />

			</div>

		</div>

	</div>

</div>