	
	<div class="layout-50 clear-fix overflow-fix">
	
		<div class="layout-50-left">
		
			<h3>Ali Fida</h3>
			<div id="map"></div>
			
			<br/>
			
			<h3>Ali Fida</h3>
			<p>
				H69, Street 14,<br/>
				Margalla Town Pahse-1 Islamabad
			</p>
			
			<ul class="no-list contact-list">
				<li class="contact-list-phone"><span>Phone:</span> 0092 300 911 3800</li>
				<li class="contact-list-mail"><span>Mail:</span> alifida.86@gmail.com</li>
			</ul>
		
		</div>

		<div class="layout-50-right">
		
			<h3>Get In Touch</h3>
		
			<form name="contact" id="contactForm1" action=""  >
				
				<div style="display:none;">
					<div class="form-line block" id="appMessages">
            <button type="button" class="close" id="dismiss_appErrors" onclick="$('#appErrors').slideUp();">
		x
	   </button>
						<div class="message_container">
						
						</div>
					</div>
				 
					<div class="form-line block">
						<input type="text" name="name" id="name" value="Your Name" onfocus="clearInput(this,'focus','Your Name')" onblur="clearInput(this,'blur','Your Name')"/>	
					</div>
					<div class="form-line block">
						<input type="text" name="email" id="email" value="Your E-mail Address" onfocus="clearInput(this,'focus','Your E-mail Address')" onblur="clearInput(this,'blur','Your E-mail Address')"/>	
					</div>					
					<div class="form-line block">
						<textarea rows="0" cols="0" name="message" id="message" onfocus="clearInput(this,'focus','Message')" onblur="clearInput(this,'blur','Message')">Message</textarea>	
					</div>
					
					<div class="form-line">
						<a href="javascript:submitContactForm();" class="button block" id="contact-send">Send</a>
					</div>
				
				</div>	

			</form>
		
		</div>
	
	</div>