
	<div class="layout-50 overflow-fix clear-fix yellow">
	
		<div class="layout-50-left">
		
			<h3>Education</h3>
			<ul class="career-list no-list">
				<li>
					<h5>Hazara Univeristy</h5>
					<p>
						Period: 2004 - 2008<br/>
						Qualification: Bachelor of Science (Computer)
					</p>
				</li>
				<li>
					<h5>G.P.G.C Mansehra</h5>
					<p>
						Period: 2001 - 2003<br/>
						Qualification: HSSC
					</p>
				</li>	
				<li>
					<h5>Iqra Collegiate School Mansehra</h5>
					<p>
						Period: 1999 - 2001<br/>
						Qualification: SSC
					</p>
				</li>			
			</ul>
			<!-- 
			<h3>Work Experience</h3>
			<ul class="career-list no-list">
			
				<li>
					<h5>Senior Developer</h5>
					<p>
						Period: 03-2008 - 09-2010<br/>
						Job type: Full-Time<br/>
						References: Joe Doe
					</p>
					<p>
						Nunc gravida accumsan nunc, at pellentesque lectus iaculis sed. 
						Nullam eget eros sapien, ac scelerisque orci. 
						Curabitur vel massa a metus aliquam ultricies sit amet scelerisque neque
					</p>
				</li>
				
				<li>
					<h5>Web designer</h5>
					<p>
						Period: 06-2006 - 02-2008<br/>
						Job type: Full-Time<br/>
						References: Joe Doe				
					</p>
					<p>
						Cras at libero sit amet felis cursus blandit.<br/>
						Nulla at placerat dolor. In nec magna ut magna hendrerit adipiscing id vel arcu.
						Sed placerat, ullamcorper dictum, nunc arcu faucibus tellus, amet placerat odio mi commodo tortor.
					</p>
				</li>		
					
			</ul>			

			 -->
		</div>
		<!-- 
		<div class="layout-50-right">
		
			<h3>Photography</h3>
			<ul class="skill-list no-list">
			
				<li>
					<h5>Photography</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						5 years experience
					</div>
				</li>
				
			</ul>
			
			<h3>Design</h3>
			<ul class="skill-list no-list">
			
				<li>
					<h5>Web design</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="skill-list-item-period">
						 4 years experience
					</div>
				</li>
				
				<li>
					<h5>Logo Design</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 4 years experience
					</div>
				</li>
				
				<li>
					<h5>Graphic Design</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="skill-list-item-period">
						 5 years experience
					</div>
				</li>	
				
				<li>
					<h5>Print Design</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="skill-list-item-period">
						 5 years experience
					</div>
				</li>		
							
			</ul>	
			
			<h3>Coding &amp; Programming</h3>
			<ul class="skill-list no-list">
			
				<li>
					<h5>HTML/XHTML</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 3 years experience
					</div>
				</li>
				
				<li>
					<h5>CSS2/CSS3</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 2 years experience
					</div>
				</li>
				
				<li>
					<h5>jQuery</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
						<span class="skill-list-item-level-off"></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 1 year experience
					</div>
				</li>
				
				<li>
					<h5>PHP</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
						<span class="skill-list-item-level-off"></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 1 year experience
					</div>
				</li>
				
			</ul>		

		</div>
		-->
	</div>