
<div class="layout-50 overflow-fix clear-fix yellow">





	<ul class="skill-list no-list">
		<li>
			<table style="width: 100%">
				<tr>
					<td><h5>Senior Software Engineer</h5></td>
					<td class="pull-right">Aug-2014 - Present</td>
				</tr>
				<tr>
					<td>Pakistan Revenue Automation (Pvt.) Ltd.</td>
					<td class="pull-right">Full-Time</td>
				</tr>
			</table>
			<div class="skill-list-item-period">
				<p></p>
			</div>
		</li>
		<li>
			<table style="width: 100%">
				<tr>
					<td><h5>Senior Software Engineer</h5></td>
					<td class="pull-right">Aug-2013 - July-2014</td>
				</tr>
				<tr>
					<td>Digital Processing System</td>
					<td class="pull-right">Full-Time</td>
				</tr>
			</table>
			<div class="skill-list-item-period">
				<p></p>
			</div>
		</li>
		<li>
			<table style="width: 100%">
				<tr>
					<td><h5>Senior Software Engineer</h5></td>
					<td class="pull-right">Jan-2012 - Apr-2013</td>
				</tr>
				<tr>
					<td>Jabs Solutions</td>
					<td class="pull-right">Full-Time</td>
				</tr>
			</table>
			<div class="skill-list-item-period">
				<p></p>
			</div>
		</li>
		<li>
			<table style="width: 100%">
				<tr>
					<td><h5>Senior Software Engineer</h5></td>
					<td class="pull-right">Mar-2010 - Jan-2011</td>
				</tr>
				<tr>
					<td>Quest Sol Technology</td>
					<td class="pull-right">Full-Time</td>
				</tr>
			</table>
			<div class="skill-list-item-period">
				<p></p>
			</div>
		</li>
		<li>
			<table style="width: 100%">
				<tr>
					<td><h5>Team Lead</h5></td>
					<td class="pull-right">Jan-2009 - Sep-2010</td>
				</tr>
				<tr>
					<td>NextechSoft</td>
					<td class="pull-right">Full-Time</td>
				</tr>
			</table>
			<div class="skill-list-item-period">
				<p></p>
			</div>
		</li>
		<li>
			<table style="width: 100%">
				<tr>
					<td><h5>Senior Software Engineer</h5></td>
					<td class="pull-right">Feb-2008 - Apr-2009</td>
				</tr>
				<tr>
					<td>WATANSERVE Pak Com (Pvt.) Ltd</td>
					<td class="pull-right">Full-Time</td>
				</tr>
			</table>
			<div class="skill-list-item-period">
				<p></p>
			</div>
		</li>
		<li>
			<table style="width: 100%">
				<tr>
					<td><h5>Software Engineer</h5></td>
					<td class="pull-right">Jun-2008 - Dec-2008</td>
				</tr>
				<tr>
					<td>HASHAR (N.G.O)</td>
					<td class="pull-right">Full-Time</td>
				</tr>
			</table>
			<div class="skill-list-item-period">
				<p></p>
			</div>
		</li>
		<li>
			<table style="width: 100%">
				<tr>
					<td><h5>Software Engineer</h5></td>
					<td class="pull-right">Jun-2008 - Dec-2008</td>
				</tr>
				<tr>
					<td>Freelance</td>
					<td class="pull-right">Part-Time</td>
				</tr>
			</table>
			<div class="skill-list-item-period">
				<p></p>
			</div>
		</li>
	</ul>







</div>