	
	
		
		
		<div class="layout-50 overflow-fix clear-fix yellow">
		
			<h3>Java</h3>
			<ul class="skill-list no-list">
			
				<li>
					<h5>Java EE</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						12 years experience
					</div>
				</li>
				<li>
					<h5>JSF</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						8 years experience
					</div>
				</li>
				<li>
					<h5>Struts</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span ></span>
					</div>
					<div class="skill-list-item-period">
						6 years experience
					</div>
				</li>
				<li>
					<h5>Spring</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						8 years experience
					</div>
				</li>
				<li>
					<h5>Hibernate</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class=""></span>
					</div>
					<div class="skill-list-item-period">
						8 years experience
					</div>
				</li>
				<li>
					<h5>Servlets</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class=""></span>
					</div>
					<div class="skill-list-item-period">
						12 years experience
					</div>
				</li>
				<li>
					<h5>JSP</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class=""></span>
					</div>
					<div class="">
						12 years experience
					</div>
				</li>
				
			</ul>
			
			<h3>PHP</h3>
			<ul class="skill-list no-list">
			
				<li>
					<h5>PHP</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 8 years experience
					</div>
				</li>
				<li>
					<h5>Codeigniter</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 6 years experience
					</div>
				</li>
				<li>
					<h5>CakePHP</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 2 years experience
					</div>
				</li>
				<li>
					<h5>Wordpress</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 5 years experience
					</div>
				</li>
			</ul>
			
			<h3>Javascript</h3>
			<ul class="skill-list no-list">
			
				<li>
					<h5>Javascript/CSS</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 12 years experience
					</div>
				</li>
				<li>
					<h5>JQuery</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 12 years experience
					</div>
				</li>
				<li>
					<h5>CSS2/CSS3</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 10 years experience
					</div>
				</li>
				
				
			</ul>		
			
			<h3>HTML/XHTML/XML</h3>
			<ul class="skill-list no-list">
			
				<li>
					<h5>HTML/XHTML</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 8 years experience
					</div>
				</li>
			</ul>		
			<h3>Designing</h3>
			<ul class="skill-list no-list">
				<li>
					<h5>Adobe Photoshop</h5>
					<div class="skill-list-item-level">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="skill-list-item-level-off"></span>
					</div>
					<div class="skill-list-item-period">
						 7 years experience
					</div>
				</li>
			</ul>
		
		
	</div>